@import "normalize.css";

body, html {
  width: 100%;
  height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

body {
  background-color: #F7F8FA;
  /*background-color: #FFFFFF;*/
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}

/*a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
*/

.site {
  flex-direction: row;
}

.site__main {
  flex-direction: row;
  width: 70%;
  height: 100vh;
}

.site__right-sidebar {
  position: fixed;
  width: 30%;
  height: 100vh;
  flex-direction: column;
  /*background-color: rgba(0,255,0,0.3);*/
}

@media (max-width: 800px) {
  .site__main {
    width: 60%;
  }
  .site__right-sidebar{
    width: 40%;
  }
}
@media (min-width: 1500px) {
  .site__main {
    width: 80%;
  }
  .site__right-sidebar{
    width: 20%;
  }
}

.site__main .site__left-sidebar {
  position: fixed;
  width: 180px;
  padding: 50px 20px 0 20px;
}

.site__main .site__content {
  flex-basis: 0;
  flex-grow: 1;
  margin-left: 180px;
  /*background-color: rgba(255,0,0,0.3);*/
}

.products {
  flex-direction: row;
  flex-wrap: wrap;
}

.site__content .products .product {
  width: 50%;
  padding: 10px;
  /*background-color: #B0C67D;*/
}

.product__display {
  /* display: flex; */
  /*flex-direction: column;*/
  align-items: center;
  border: 4px solid rgba(215, 215, 215, 1);
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.product__img {
  width: 100%;
}

.product__add {
  background-color: rgba(215, 215, 215, 1);
  border-radius: 50%;
  padding: 10px;
}

.product__price {
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: bold;
}

.product__description {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.product__name {
  flex-basis: 0;
  flex-grow: 1;
}

.product__heart {
  flex-grow: 0;
}

.cart {
  flex-basis: 0;
  flex-grow: 1;
  overflow: scroll;
}

.cart-item {
  height: 150px;
  margin-bottom: 20px;
  /*background: rgba(0,255,0,0.3);*/
}

.checkout {
  flex-basis: auto;
  flex-grow: 0;
  height: 300px;
  background: rgba(0,0,255,0.3);
}

.cart__title {
  position: fixed;
}

.cart__content {
  margin-top: 75px;
  margin-bottom: 20px;
}

.cart-item__top-part {
  flex-direction: row;
}

.cart-item__image {
  width: 33%;
}

.cart-item__image img {
  width: 100%;
}

.cart-item__top-part__middle {
  flex-grow: 1;
  flex-basis: 0;
  align-self: center;
  padding: 5px 20px;
}

.cart-item__price {
  font-weight: bold;
}

.adjust-qty {
  flex-direction: row;
  justify-content: center;
  width: 33%;
  padding: 20px 0;
}

.adjust-qty__button {
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding-left: 7px;
  padding-top: 1px;
  margin: 0px 7px;
}

